.row.nvrequalheight{
    display:-webkit-flex;
    display:flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.nvrequalheight .columns{
    display:flex;
    -webkit-box-align: initial;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.row.contentcenter .columns{
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/* Separator */
.separator {
	display:block;
	height:1px;
	padding:30px 0;
	text-align:center;
	width:100%;
	clear:both;
}
.separator.line div{
	height:1px;
	border-bottom:1px solid;
}
.spacer{
	display:block;
	clear:both;
	width:100%;
	height:25px;
}

/* Dropcaps */
.dropcap1{
	display:block;
	float:left;
	font-size:34px;
	line-height:34px;
	margin:2px 8px 0 0;
}
.dropcap2{
	display: block;
	width: 40px;
	height: 40px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	-khtml-border-radius: 40px;
	border-radius: 40px;
	float:left;
	font-size:25px;
	line-height:40px;
	text-align: center;
	margin:0px 8px 0 0;
}
.dropcap3{
	display:block;
	float:left;
	font-size:25px;
	line-height:40px;
	width:40px;
	height:40px;
	text-align: center;
	margin:6px 8px 0 0;
}

/* Highlight */
.highlight1{padding:2px 5px;}
.highlight2{padding:2px 5px;}

/* Icon Container */
div.icn-container{
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-width:2px;
	border-style:solid;
	padding:20px;
	font-size:28px;
	line-height:28px;
	width:28px;
	height:28px;
	text-align:center;
	display:block;
}
div.icn-container.type3{
	border-width:0px;
}
div.icn-container.small{
	font-size:18px;
	line-height:18px;
	width:18px;
	height:18px;
}

/* Pullquotes */
.pullquote-right,.pullquote-left{
	padding:0px 10px 0px 50px;
	background-image:url(../images/quote.png); background-repeat:no-repeat; background-position:0px 0px;
	float:right;
	font-style:italic;
	font-size:16px;
	letter-spacing:0px;
	line-height:22px;
	margin:0px 2px 20px 20px;
	width:50%;
	}
.pullquote-left{float:left;margin-left:2px;margin-right:20px;}

/* Tabs */
.tabcontainer{margin:0px 0px 0px 0px; }
ul.tabs {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	list-style: none;
	height: 45px;
	width: 100%;

}
ul.tabs li {
	float: left;
	margin: 0 0px 0 0;
	padding: 0;
	height: 43px;
	line-height: 43px;
	overflow: hidden;
	position: relative;
	font-size:16px;
	border-width:1px 1px 1px 0px;
	border-style:solid;
	-moz-box-shadow: inset 0 1px 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 1px 0 #fff;
	box-shadow: inset 0 1px 1px 0 #fff;

}
ul.tabs li:hover{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
ul.tabs li a {
	text-decoration: none;
	display: block;
	padding: 0 40px;
	outline: none;
}
ul.tabs li a:hover {
	text-decoration:none;
}
ul.tabs	 li.active{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  {}
html ul.tabs li.active a{}
#tab-body{clear:both;}
.tab-content {padding: 20px 0px; margin-top:0px;}


/* Toggle */
h2.trigger {
	padding: 17px 5px 17px 5px;
	margin: 0 0 1px 0;
	font-size:16px;
	line-height:24px;
}
h2.trigger span {
	text-decoration: none;
	display: block;
	background-image: url(../images/toggle_close.png);
	background-repeat:no-repeat;
	background-position:right center;
	padding-right:20px;
	cursor:pointer;
}
h2.trigger .fa{margin-right:7px;}
h2.trigger img{margin-right:15px;}
h2.active{}
h2.active span{background-image: url(../images/toggle_open.png);}
h2.trigger a:hover {}
.toggle_container {
	margin: 0 0 1px 0;
	padding: 20px 0px;
	overflow: hidden;
	clear: both;
}
.toggle_container .block {
	padding: 0px;
}
.toggle_container .block p {
	padding: 5px 0;
	margin: 5px 0;
}

/* Content Title */
.contenttitle{font-size:18px; line-height:normal; margin-bottom:20px;}
.contenttitle span{}

/* Mini Sliders*/
.minisliders .titlecontainer{border-top:1px solid;}
.minisliders .contenttitle{text-align:center; font-size:24px; letter-spacing:-1px; font-weight:300; line-height:100%; margin:-14px 0px 22px; padding-bottom:0px;}
.minisliders .contenttitle span{padding:0px 22px;}
.minisliders .flex-control-nav{display:none;}
.minisliders .flex-direction-nav a{
	background-position:center;
	background-repeat:no-repeat;
	position:absolute;
	width:20px;
	height:36px;
	opacity:0;
	transition: opacity ease-out 0.25s;
	-moz-transition: opacity ease-out 0.25s;
	-webkit-transition: opacity ease-out 0.25s;
	-o-transition: opacity ease-out 0.25s;
}
.minisliders .flex-direction-nav a.flex-prev{background-image:url(../images/arrowleft_bold.png);left:20px;}
.minisliders .flex-direction-nav a.flex-next{background-image:url(../images/arrowright_bold.png);right:20px;}

/* Banner Image */
.bannerimg{display:block; position:relative;}
.bannerimg .cellcontent{position:absolute; top:16px; left:16px; right:16px; bottom:16px; padding:10px;
transition: border 0.2s, background-color 0.2s;
-moz-transition: border 0.2s, background-color 0.2s; /* Firefox 4 */
-webkit-transition: border 0.2s, background-color 0.2s; /* Safari and Chrome */
-o-transition: border 0.2s, background-color 0.2s; /* Opera */}
.bannerimg .cellcontent > table{height:100%; width:100%; border:0px;}
.bannerimg .cellcontent > table td{text-align:center; vertical-align:middle; border-bottom:0px; padding:0px;}
.bannerimg table td p:first-child{margin:0px;}
.bannerimg .bannercontent{
	font-size: 18px;
    position: relative;
    text-align: center;
    padding-bottom: 8px;
    line-height: 1.3em;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    letter-spacing: 0px;
}
.bannerimg .bannercontent:after{content:""; display:block; position:absolute; width:56px; height:2px; bottom:0px; left:50%; margin-left:-28px; background-color:#fff;}

/* Big Text */
.bigtext{font-size:36px; font-weight:300; letter-spacing:-2px; text-align:center; line-height:110%;margin-bottom:10px;}
.secondarytext{font-size:24px; font-weight:300; text-align:center; letter-spacing:0px; line-height:100%; font-style:italic;display:block;}

/* Counters */
.counters{font-size:48px; font-weight:700; letter-spacing:-1px; line-height:110%;}

/* Heading */
.nvr-heading{text-align:center; margin:0px 0px 25px;}
.nvr-heading *{text-align:center;}
.nvr-heading.left *{text-align:left;}
.nvr-heading.right *{text-align:right;}
.nvr-heading .hcont{letter-spacing:2px; padding:0px; font-weight:700;}
.nvr-heading h1.hcont{margin:-22px 0px 0px; font-size:18px; line-height:18px; }
.nvr-heading h2.hcont{margin:-20px 0px 0px; font-size:16px; line-height:16px; }
.nvr-heading h3.hcont{margin:-19px 0px 0px; font-size:15px; line-height:15px; }
.nvr-heading h4.hcont{margin:-19px 0px 0px; font-size:14px; line-height:14px; }
.nvr-heading h5.hcont{margin:-19px 0px 0px; font-size:13px; line-height:13px; }
.nvr-heading h6.hcont{margin:-19px 0px 0px; font-size:12px; line-height:12px; }
.nvr-heading .hcont span{ display:inline-block; padding:12px 53px;}

/* Border Separator */
.bordersep.center .bordershow{margin:0px auto;}
.bordersep.right .bordershow{margin:0px 0px 0px auto;}
.bordersep.left .bordershow{margin:0px auto 0px 0px;}

/* Recent Posts */
.flexslider-carousel ul.slides li{margin-right:0px; display:none;}

.nvr-recentposts ul.row{padding:0px;}
.nvr-recentposts li{list-style-type:none;}
.nvr-recentposts li.alpha{clear:both;}
.nvr-recentposts li div.rp-item-container{margin-bottom:20px;}
.nvr-recentposts .nvr-rp-text{padding:0px; font-size:13px; line-height:19px; overflow:hidden;}
.nvr-recentposts h4{padding-left:0px; padding-right:0px; text-transform:uppercase; font-size:14px; letter-spacing:1px; text-align:center; margin-bottom:6px;}
.nvr-recentposts.verticalpost h4{text-align:left;}
.nvr-recentposts .nvr-rp-img{margin-bottom:17px;}
.nvr-recentposts.verticalpost .nvr-rp-img{width:170px; float:left; margin-right:13px;}
.nvr-recentposts .meta-date{margin-bottom: 10px; font-size: 13px; line-height:11px;text-align: center;}
.nvr-recentposts.verticalpost .meta-date{text-align:left;}
.nvr-recentposts .entry-utilities{display:none; margin-top: 14px; padding:10px 0px 0px 0px; position:static; border-width:1px 0px 0px; border-style:solid; text-transform:uppercase;}
.nvr-recentposts .entry-utilities span{width:auto; display:inline-block; margin-right:10px; font-size:11px; line-height:11px; font-weight:700;}
.nvr-recentposts .entry-utilities .meta-comment{float:none;}
.nvr-recentposts .nvr-rp-morelink{font-size:11px; font-weight:700; text-transform:uppercase;}
.flexslider-carousel h3{font-weight:500;margin:12px 0px 4px; text-align:left;font-size:14px; letter-spacing:0px;}

/* Meter */
.metertitle span{float:right;}
div.meter{
	max-width:100%;
	margin:0px;
	clear:both;
}
div.meter div{
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box;
	padding:0px 10px 0px 0px;
	height:5px;
	text-align:right;
}

/* Hosting Table */
.hostingtable{text-align:center;}
.hostingtitle{padding:12px;}
.hostingtitle h4{margin:0px;}

.hostingprice{font-size:54px; line-height:normal; padding-bottom:22px; padding-top:8px; margin-bottom:12px;}
.hostingprice span.priceinfo{text-transform:uppercase; font-size:12px; display:block;}
.hostingcontent ul{padding:0px; margin:0px;}
.hostingcontent ul li{padding:0px 0px 14px 0px; margin:0px 0px 11px 0px; text-align:center; width:100%; display:block;}
.hostingbutton{padding:16px 0px 29px 0px;}

/************************ COLOR **********************/
/* Highlight */
.highlight1{background:#e6e8e8;color:#000; border:solid 1px #ccc}
.highlight2{background:#ec5a41;color:#fff;}

/* Icon Container */
.icn-container{
	border-color:#ec5a41;
	color:#ec5a41;
	background-color:transparent;
}
.icn-container.type2{
	border-color:#ec5a41;
	color:#ffffff;
	background-color:#ec5a41;
}
.icn-container.type3{
	border-color:transparent;
	color:#ec5a41;
	background-color:transparent;
}

/* Dropcaps */
.dropcap1{text-shadow:1px 1px 0 #666;}
.dropcap2, .dropcap3{color:#fff;background:#333;}

/* Banner Image */
.bannerimg .cellcontent{color:#fff; border:1px solid transparent; background-color:rgba(0,0,0,0);}
.bannerimg a:hover .cellcontent{ border:1px solid #fff; background-color:rgba(0,0,0,0.2);}
.bannerimg .bannercontent{color:#fff;}

/* Big Text*/
.bigtext{ color:#333;}

/* Separator */
.separator.line div{
	border-color:#e4e4e4;
	-moz-box-shadow: 0 1px 1px 0 #fff;
	-webkit-box-shadow: 0 1px 1px 0 #fff;
	box-shadow: 0 1px 1px 0 #fff;
}

/* Tabs */
ul.tabs{border-left:1px solid #dcdcdc;}
ul.tabs li {
	background: #f7f7f7;
	border-color:#dcdcdc;
}
ul.tabs li:hover{border-color:#ec5a41;}
ul.tabs li a {color: #363636;}
ul.tabs	 li.active{border-color:#ec5a41;}
html ul.tabs li.active, html ul.tabs li.active a:hover, ul.tabs li a:hover{background: #ec5a41; color:#fff;}
html ul.tabs li.active a{ color:#fff; }

/* jQuery Toggle */
h2.trigger {border-bottom: 1px solid #e4e4e4;}
h2.trigger span {
	color:#555;
}
h2.active{}
h2.trigger a:hover {
	color: #454545;
}

/* Content Title */
.contenttitle span{background:#fff;}

/* archive list */
.archives_list li a{color:#555;}
.archives_list li a:hover{color:#ec5a41;}

/*images*/
.frameimg{
	border-color:#e4e4e4;
}

/* Meter */
div.meter{
	background-color:#d5d5d5;
}
div.meter div{
	background-color:#ec5a41;
	color:#fff;
}

/* Border Separator */
div.bordersep .bordershow{background-color:#ec5a41;}

/* Heading */
.nvr-heading.white *{color:#fff !important;}
.nvr-heading.white .hborder{background-color:#ec5a41 !important;}
.nvr-heading{border-top:2px solid #f3f3f3;}
.nvr-heading .hcont span{ background-color:#f3f3f3; color:#000;}

/* Mini Sliders */
.minisliders .titlecontainer{border-color:#e4e4e4;}

/* Hosting Table */
.hostingtable{border:1px solid #ebebeb; background-color:#fff;}
.hostingtitle{background-color:#2a3a43;}
.hostingtitle h4{color:#fff;}
.hostingprice{color:#fff; background-color:#374D59;}
.hostingprice span.priceinfo{color:#7ea0b3;}
.hostingcontent ul li{border-bottom:1px solid #f4f4f4;}
.headlinebox{background-color:#f0f1f3; border:1px solid #e3e3e3;}

.nvrgridrow{border-width:1px 0px 0px 1px; border-style:solid; border-color:#ebebeb;}
/* Grid Image */
.nvr_gridimg{
	height:615px;
	position:relative;
	background-repeat:no-repeat;
	background-size:cover;
	border-width:0px 1px 1px 0px;
	border-style:solid;
	border-color:#ebebeb;
}
.nvr_gridimg .cellcontent{
	position:absolute;
	top:20px;
	bottom:20px;
	right:20px;
	left:20px;
	border:1px solid transparent;
	transition:border 0.4s ease;
	-moz-transition:border 0.4s ease;
	-webkit-transition:border 0.4s ease;
}
.nvr_gridimg .linkrow:hover .cellcontent{border-color:#fff;}
.nvr_gridimg .cellcontent > table{
	margin:0px;
	width:100%;
	height:100%;
	border:0px;
	padding:0px;
}
.nvr_gridimg .cellcontent > table .tabletd{
	vertical-align:middle;
	text-align:center;
	border:0px;
	padding:0px;
}

.nvr_gridimg .cellcontent > table .tabletd .gridtitle{
	font-size:24px;
	line-height:normal;
	letter-spacing:6px;
	color:#fff;
}

.nvr_gridimg .cellcontent > table .tabletd .gridsubtitle{
	font-size:18px;
	letter-spacing:0px;
	line-height:normal;
	font-style:italic;
	color:#fff;
}

.nvr_gridimg .cellcontent > table .tabletd .gridlinktext{
	font-size:14px;
	letter-spacing:1px;
	line-height:normal;
	font-weight:700;
	color:#fff;
	position:absolute;
	left:-25px;
	bottom:0px;
	opacity:0;
	transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
}
.nvr_gridimg .linkrow:hover .cellcontent > table .tabletd .gridlinktext{
	opacity:1;
	left:0px;
}
.nvr_gridimg .linkrow .cellcontent > table .tabletd .gridlinktext .fa:before{
	content:"\f061";
	padding-left:12px;
}

/* Grid Info */
.nvr_gridinfo{
	height:615px;
	position:relative;
	background-color:#fbfbfb;
	border-width:0px 1px 1px 0px;
	border-style:solid;
	border-color:#ebebeb;
}
.nvr_gridinfo .cellcontent{
	position:absolute;
	top:5px;
	bottom:5px;
	right:5px;
	left:5px;
}
.nvr_gridinfo .cellcontent > table{
	margin:0px;
	width:100%;
	height:100%;
	border:0px;
	padding:0px;
}
.nvr_gridinfo .cellcontent > table .tabletd{
	vertical-align:middle;
	text-align:center;
	border:0px;
	padding:0px;
}

.nvr_gridinfo .cellcontent .gridimg{
	width:108px;
	height:108px;
	margin:0px auto 30px;
	background-size:cover;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
}

.nvr_gridinfo .cellcontent > table .tabletd .gridtitle{
	font-size:22px;
	line-height:normal;
	letter-spacing:4px;
	margin-bottom:7px;
	color:#000;
}

.nvr_gridinfo .cellcontent > table .tabletd .gridsubtitle{
	font-size:16px;
	letter-spacing:0px;
	margin-bottom:18px;
	line-height:normal;
	font-style:italic;
	color:#333;
}

.nvr_gridinfo .cellcontent > table .tabletd .gridbutton{
	padding:16px 64px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	font-size:12px;
	font-weight:700;
	letter-spacing:2px;
	color:#000;
	background-color:#fcd141;
	border:0px;
}

/* Grid Product */
.nvr_gridproduct{
	height:615px;
	position:relative;
	background-repeat:no-repeat;
	background-size:cover;
	border-width:0px 1px 1px 0px;
	border-style:solid;
	border-color:#ebebeb;
}
.nvr_gridproduct .cellcontent{
	position:absolute;
	top:0px;
	bottom:0px;
	right:0px;
	left:0px;
	transition:border 0.4s ease;
	-moz-transition:border 0.4s ease;
	-webkit-transition:border 0.4s ease;
}
.nvr_gridproduct .cellcontent > table{
	margin:0px;
	width:100%;
	height:100%;
	border:0px;
	padding:0px;
}
.nvr_gridproduct .cellcontent > table .tabletd{
	vertical-align:top;
	text-align:center;
	border:0px;
	padding:0px;
}
body.novaro .nvr_gridproduct ul.products{
	margin:0px;
	padding:0px;
}

body.novaro .nvr_gridproduct ul.products li.product{
	margin:0px;
	padding:0px;
	border:0px;
	width:100%;
}

body.novaro .nvr_gridproduct ul.products li.product .star-rating{
	display:none;
}
body.novaro .nvr_gridproduct ul.products li.product:hover .price{opacity:1;}
body.novaro .nvr_gridproduct ul.products li.product:hover .button{display:none;}

/* Pinboard */
.pinboard{position:relative;}
.pinboard_needle{position:absolute; top:50%; left:50%; width:1px; height:1px;}
.pinboard_start{position:relative; width:1px; height:1px;}
.pinboard .thepin{
    position:absolute;
    z-index:100;
    display:inline-block;
    -webkit-transform:translate(0%, 0%);
    -moz-transform:translate(0%, 0%);
    -ms-transform:translate(0%, 0%);
    -o-transform:translate(0%, 0%);
    transform:translate(0%, 0%);
}
.pinboard .thepincontent{
    border-width:1px;
    border-style:solid;
    border-color:transparent;
}

.pinboard .thepin.pinleft.pintop{
    -webkit-transform:translate(0%, 0%);
    -moz-transform:translate(0%, 0%);
    -ms-transform:translate(0%, 0%);
    -o-transform:translate(0%, 0%);
    transform:translate(0%, 0%);
}
.pinboard .thepin.pinleft.pinmiddle{
    -webkit-transform:translate(0%, -50%);
    -moz-transform:translate(0%, -50%);
    -ms-transform:translate(0%, -50%);
    -o-transform:translate(0%, -50%);
    transform:translate(0%, -50%);
}
.pinboard .thepin.pinleft.pinbottom{
    -webkit-transform:translate(0%, -100%);
    -moz-transform:translate(0%, -100%);
    -ms-transform:translate(0%, -100%);
    -o-transform:translate(0%, -100%);
    transform:translate(0%, -100%);
}
.pinboard .thepin.pincenter.pintop{
    -webkit-transform:translate(-50%, 0%);
    -moz-transform:translate(-50%, 0%);
    -ms-transform:translate(-50%, 0%);
    -o-transform:translate(-50%, 0%);
    transform:translate(-50%, 0%);
}
.pinboard .thepin.pincenter.pinmiddle{
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
}
.pinboard .thepin.pincenter.pinbottom{
    -webkit-transform:translate(-50%, -100%);
    -moz-transform:translate(-50%, -100%);
    -ms-transform:translate(-50%, -100%);
    -o-transform:translate(-50%, -100%);
    transform:translate(-50%, -100%);
}
.pinboard .thepin.pinright.pintop{
    -webkit-transform:translate(-100%, 0%);
    -moz-transform:translate(-100%, 0%);
    -ms-transform:translate(-100%, 0%);
    -o-transform:translate(-100%, 0%);
    transform:translate(-100%, 0%);
}
.pinboard .thepin.pinright.pinmiddle{
    -webkit-transform:translate(-100%, -50%);
    -moz-transform:translate(-100%, -50%);
    -ms-transform:translate(-100%, -50%);
    -o-transform:translate(-100%, -50%);
    transform:translate(-100%, -50%);
}
.pinboard .thepin.pinright.pinbottom{
    -webkit-transform:translate(-100%, -100%);
    -moz-transform:translate(-100%, -100%);
    -ms-transform:translate(-100%, -100%);
    -o-transform:translate(-100%, -100%);
    transform:translate(-100%, -100%);
}
@media only screen and (max-width:768px){
    .pinboard{height:auto !important;}
    .pinboard_needle{position:static; width:auto; height:auto;}
    .pinboard_start{width:auto; height:auto; position: static;}
    .pinboard .thepin{
        position:static;
        max-width:100%;
        width:auto !important;
        height:auto !important;
        -webkit-transform:none !important;
        -moz-transform:none !important;
        -ms-transform:none !important;
        -o-transform:none !important;
        transform:none !important;
    }
}

/* PRODUCT FILTER */
#filters, .filterlist{margin:0 0 32px 0; padding:0px; border-bottom:0px solid; text-align:center;}
.filterlist > ul{padding:0px; margin:0px;}
#filters li, .filterlist li{
	display:inline-block;
	list-style-type:none;
	background-position:center;
	background-repeat:no-repeat;
	margin:0px 3px 8px;
	padding:8px 12px;
	cursor:pointer;
	font-weight:500;
	font-size:12px;
	letter-spacing:1px;
	text-transform:uppercase;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}
